<%
/**
 * page header template
 *
 * This template is actually rendered by the AjaxflowTagLib using
 * the following tags:
 *
 * <af:pageHeader>
 *
 * @author	Jeroen Wesbeek <work@osx.eu>
 * @package AjaxFlow
 */
%>
<h1>AjaxFlow '<i>StudyFlow</i>' : page ${page}</h1>
<g:render template="common/tabs"/>
<div class="content">
