/* Body
-------------------------------------------------- */
body {
	-webkit-text-size-adjust: none;
}

@media (max-width: 768px) {
	/* prevent the brand name wrapping or overlapping the menu toggle */
	.navbar .brand {
		max-width: 75%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	#application-status {
		display: none;
	}
	
}

.one-to-many {
	list-style: none;
}

.navbar>li>a {
	font-weight: bold;
}

.navbar>li>a>img {
	padding: 7px;
}

.dropdown-menu {
	padding: 10px;
}

/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Table
-------------------------------------------------- */
.one-to-many {
	margin-top: 20px;	
}